In [1]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 


link = "https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313&_nkw=men%27s+sports+shorts&_sacat=0"

mycontent = requests.get(link)

soup = BeautifulSoup(mycontent.content,'html.parser')

the_ul = soup.find('ul',attrs={'class':'srp-results srp-grid clearfix'})

titles = []
prices = []
shippings = []
urls = []
total_costs = []


for items in the_ul.findAll('li',attrs={'class':"s-item"}):
    title = items.find('h3',attrs={'class':"s-item__title"}).text
    price = items.find('span',attrs={'class':"s-item__price"}).text
    shipping = items.find('span',attrs={'class':"s-item__shipping s-item__logisticsCost"}).text
    url = items.find('a',href=True)['href']
    


    price = price[1:6]

   

    if shipping[0] == '+':
        shipping = shipping[2:6]
    else:
        shipping = '0'

    total_cost = float(price) + float(shipping)

    titles.append(title)
    prices.append(price)
    shippings.append(shipping)
    urls.append(url)
    total_costs.append(total_cost)

mylst = pd.DataFrame({'Product Name:':titles,'Price: ':prices,'Shipping:':shippings,'URL: ':urls,'Total Cost:': total_costs})
mylst.to_csv('prices.csv')

In [2]:
df = pd.read_csv("prices.csv")
df.head()

,Unnamed: 0,Product Name:,Price:,Shipping:,URL:,Total Cost:
0,0,Men's Summer Sports Training Bodybuilding Shor...,13.99,0.0,https://www.ebay.com/itm/284042728462?_trkparm...,13.99
1,1,2 x French Army F2 Training Shorts Running PT ...,11.17,14.5,https://www.ebay.com/itm/162547717456?hash=ite...,25.67
2,2,Mens Sports Training Bodybuilding Shorts Worko...,13.71,0.0,https://www.ebay.com/itm/284286923112?_trkparm...,13.71
3,3,Adidas Essentials Chelsea Mens Shorts 3 Stripe...,23.74,14.7,https://www.ebay.com/itm/153923226410?_trkparm...,38.44
4,4,Abtel Mens Sports Training Bodybuilding Shorts...,12.87,0.0,https://www.ebay.com/itm/284319306571?_trkparm...,12.87

In [3]:
df.shape

(61, 6)

In [4]:
df.columns

Index(['Unnamed: 0', 'Product Name:', 'Price: ', 'Shipping:', 'URL: ',
       'Total Cost:'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     61 non-null     int64
 1   Product Name:  61 non-null     object
 2   Price:         61 non-null     float64
 3   Shipping:      61 non-null     float64
 4   URL:           61 non-null     object
 5   Total Cost:    61 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 3.0+ KB

In [8]:
df.describe()

       Unnamed: 0    Price:   Shipping:  Total Cost:
count   61.000000  61.000000  61.000000    61.000000
mean    30.000000  16.529836   6.238852    22.768689
std     17.752934  11.257157   9.266782    11.753492
min      0.000000   0.200000   0.000000     0.990000
25%     15.000000  11.170000   0.000000    14.940000
50%     30.000000  15.960000   0.500000    20.490000
75%     45.000000  21.990000  11.900000    26.480000
max     60.000000  60.000000  29.200000    60.900000

In [10]:
df.sort_values('Price: ', ascending=False).head()

,Unnamed: 0,Product Name:,Price:,Shipping:,URL:,Total Cost:
13,13,VTG OP Sport Beige Brown Corduroy Cords Shorts...,60.00,0.0,https://www.ebay.com/itm/174864563072?_trkparm...,60.00
12,12,Vintage Columbia Sportswear Shorts BELTED Beig...,49.99,0.0,https://www.ebay.com/itm/124829802883?hash=ite...,49.99
50,50,Hurley Exist Collection Lightweight Sport Shor...,40.00,20.9,https://www.ebay.com/itm/174865357051?epid=704...,60.90
9,9,adidas LOUNGEWEAR Must Haves Badge of Sport Sh...,35.00,0.0,https://www.ebay.com/itm/154487368099?hash=ite...,35.00
21,21,Hurley Men's Exist Poly/Spandex Lightweight Sp...,32.00,0.0,https://www.ebay.com/itm/353581832200?epid=220...,32.00